extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
  +alert-success(5000)
  +alert-error(5000)


  h1(class="mb-4") Chỉnh sửa sản phẩm
  
  form(
      action =`${prefixAdmin}/products/edit/${products.id}?_method=PATCH`
      id="form-edit-product"
      method="POST"
      enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="title") Tiêu đề
      input(
          type="text"
          id="title"
          name="title"
          class="form-control"
          placeholder="Nhập tiêu đề sản phẩm"
          value=products.title
         required
      )
    div(class="form-group")
      label(for="desc") Mô tả
      textarea(
          rows="5"
          id="desc"
          name="description"
          class="form-control"
      ) #{products.description}
    div(class="form-group")
      label(for="title") Giá
      input(
          type="number"
          id="price"
          name="price"
          class="form-control"
          min="0"
          value=products.price
      ) 
    div(class="form-group")
      label(for="discount") % Giảm giá
      input(
          type="number"
          id="discount"
          name="discountPercentage"
          class="form-control"
          value=products.discountPercentage
          min="0"
      )   
    div(class="form-group")
      label(for="stock") Số lượng
      input(
          type="number"
          id="stock"
          name="stock"
          class="form-control"
          value=products.stock
          min="0"
      )  
    div(class="form-group"
        upload-image
    )
      label(for="thumbnail") Ảnh
      input(
          type="file"
          id="thumbnail"
          name="thumbnail"
          class="form-control-file"
          accept="image/*"
          upload-image-input
      )
      img(
        src=products.thumbnail
        upload-image-preview
        class = "image-preview"
      )
      span(
        class="close-Button"
        close-image) x
    div(class="form-group")
      label(for="position") Vị trí
      input(
          type="number"
          id="position"
          name="position"
          class="form-control"
          placeholder="tự động tăng"
          min="1"
      )
    div(class="form-group form-check form-check-inline")
      input(
          type="radio"
          id="statusActive"
          name="status"
          class="form-check-input"
          value="active"
          checked=(products.status == "active" ? true : false)    
      )
      label(for="statusActive" class="form-checked-label") Hoạt động
    div(class="form-group form-check form-check-inline")
      input(
          type="radio"
          id="statusInActive"
          name="status"
          class="form-check-input"
          value="inactive" 
          checked=(products.status == "inactive" ? true : false)  
      )
      label(for="statusInActive" class="form-checked-label") Dừng hoạt động 
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Cập nhật      

  script(src="/admin/js/product.js")
