extends ../../layouts/default.pug

block main
  h1 trang chi tiết sản phẩm
  .container.my-3 
    .row   
      .col-12
        if(product.title)
          h2(class="mb-4") #{product.title}

        if(product.price)
          h2(class="mb-4") Giá : <b>#{product.price}$</b> 

        if(product.title)
          h2(class="mb-4") Giảm giá : <b>#{product.discountPercentage}%</b>

        if(product.stock)
          h2(class="mb-4") Còn lại : <b>#{product.stock}</b>

        if(product.thumbnail)
          div(class="mb-4")
            img(
              src=product.thumbnail
              style="width: 100px"
            )   
        if(product.position)
          span Vị trí:
          div(class="mb-4") #{product.position}  
        if(product.description)
          span Mô tả:
          div(class="mb-4") #{product.description}  