mixin form-change-multi()
 form(
        action=`${prefixAdmin}/products/change-multi?_method=PATCH`
        method="POST"
        form-change-multi
      )
        .d-flex.align-item-start
          .form-group
            select(name="type" class="form-control")
             option(disabled selected) -- Chọn Hoạt động -- 
             option(value="active") Hoạt động  
             option(value="inactive") Dừng hoạt động
             option(value="delete-all") Xóa tất cả
            
          .form-group 
            input(
              type="text"
              name="ids"
              class="form-control d-none"
            )
          button(type="submit" class="btn btn-primary") Áp dụng  